.search-container {
    display: flex;
    flex-direction: horizontal;
    width: 100%;
    box-sizing: border-box; 
    border: 3px solid blue;/* Ensure padding is included in the width */
  }

  .search-and-results{
    background-color: pink;
  }
  
  .search-bar {
    border: 1px dotted red;
  }
  
  .results {
    color:brown;
    display: flex;
    height: 50px;
    width: 50px;
    overflow: scroll;
  }

  h5, h6{
    border: 1px solid black;
  }