.app {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "header header"
    "section1 section2";
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1rem;
}

.section {
  grid-area: section1;
  padding: 2rem;
  text-align: center;
  background-color: pink;
}

.section2 {
  grid-area: section2;
  padding: 2rem;
  text-align: center;
  background-color: red;
}