.app {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers items horizontally */
  justify-content: center; /* Centers items vertically */
  border: 2px solid lime;
  height: 100vh; /* Ensure it takes the full viewport height */
}

.header {
  height: 10vh;
  width: 100%;
  border: 1px dotted black;
  background-color: purple;
  display: flex; /* Make header a flex container */
  align-items: center; /* Center the content vertically */
  justify-content: center; /* Center the content horizontally */
}

.search-container {
  border: 3px dotted pink;
  background-color: lime;
  width: 100px;
  height: 50px;
  display: flex; /* Make search-container a flex container */
  flex-direction: horizontal;
  align-items: center; /* Center the content horizontally */
}